*{
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px 40px;
    grid-template-rows: 300px 300px;
    align-items: center;
}

.item {
    background-color: aqua;
}